
= render partial: "devise/shared/side_bar.html.haml"

.main
 .main_top
  %p.group_name{data: {id: "#{@group.id}"}}
   = @group.name
  %p.member_name
   Member:
   - @group.users.each do |user|
    = user.name
  .edit
   =link_to edit_group_path(@group)  do
    Edit
 .main_middle
  .message_lists
   - @messages.each do |message|
    .message{data: {id: "#{message.id}"}}
     %p.upper-message__user-name
      = message.user.name
      %span 
       = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
     %p 
      = message.body
     %p 
      = image_tag message.image if message.image.present?

.message_form
 = form_for [@group, @message] do |f|
  = f.text_field :body, placeholder: "type a message"
  = f.submit value: "Send", class: "send"
  = f.label "upload-icon", class: "upload-label" do
   %i(class="fa fa-image")
   = f.file_field :image, id: "message_upload-icon"