
.menu
 .menu_top
  .icons
   = link_to new_group_path do
    %i(class="fa fa-edit")
   = link_to edit_user_path(current_user.id) do
    %i(class="fa fa-cog")
   
  %p
   = current_user.name
 .menu_middle
  %ul.group_lists
   - current_user.groups.each do |group|
    %li.group_list
     = link_to group_messages_path(group) do
      .group__name
       = group.name
      .group__message
       = group.show_last_message(group)
